<button type="button" class="btn btn-akroma" (click)="openModal(template)">&#9733;</button>

<ng-template #template>
  <div class="modal-body">
    <div class="card card-akroma text-white bg-dark">
      <div class="card-header">Bookmark - <code>{{ hash }}</code></div>
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="value" class="form-label">Display</label>
            <input type="text" class="form-control form-control-akroma" formControlName="display" id="display">
          </div>
          <div class="form-group">
            <label for="value" class="form-label">Notes</label>
            <textarea class="form-control form-control-akroma" rows="5" formControlName="notes" id="notes"></textarea>
          </div>

          <div class="form-group text-right">
            <input type="submit" value="SAVE" class="btn btn-akroma on-form text-white" />
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>