@import 'akroma';

.background {
    background-image: url('../../../assets/images/akroma-bg4.png');
    color: #fff;
    background-size: cover;
    min-height: 150px;
  }

  .input-group {
    width: 450px;
  }
  