<app-header></app-header>

<div class="page-body">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Settings</h1>
      </div>
      <div class="col text-right">
        <a [routerLink]="['/']" class="btn btn-akroma">
          Close
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <tabset>
          <tab heading="Connection">
            <app-settings-connection></app-settings-connection>
          </tab>
          <tab heading="Bookmarks">
              <app-settings-bookmarks></app-settings-bookmarks>
          </tab>
        </tabset>
      </div>
    </div>





  </div>
</div>