<div class="row">
  <div class="col mt-3">
    <table class="table table-striped table-dark table-responsive-sm table-akroma">
      <thead>
        <tr>
          <th class="w-25" i18n>Address</th>
          <th class="w-25" i18n>Display</th>
          <th i18n>Notes</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let b of bookmarks">
          <td>
            <a [routerLink]="['/', 'address', b._id]">
              {{ b._id }}
            </a>

          </td>
          <td>{{ b.display }}</td>
          <td>{{ b.notes }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>