<h1>Blocks</h1>
<div class="pt-3" *ngFor="let block of blocks$ | async">
  <div class="card card-akroma text-white bg-dark">
    <div class="card-header">
      <span>
        <a [routerLink]="['/', 'block', block.number]">
          {{ block.number }}
        </a>
      </span>
      <span class="float-right">{{ block.timestamp | unixTimestampToDate | date:'yyyy-MM-dd HH:mm:ss' }}</span>
    </div>
    <div class="card-body">
      <span>{{ block.extraData | hexToAscii }}</span>
    </div>
  </div>
</div>